<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
    <!--aop扫描-->
    <aop:aspectj-autoproxy/>

    <bean id="book" class="com.yxc.framework.pojo.Book"
          p:title="西游记" p:author="吴承恩" p:publishTime="1550-1-1"/>

    <bean id="bookCut" class="com.yxc.framework.pojo.BookCut"/>

    <aop:config>
        <!--定义一个切面,Book类-->
        <aop:aspect ref="bookCut">
            <!--Book类所有方法-->
            <aop:pointcut id="bookPointCut" expression="execution(* com.yxc.framework.pojo.Book.*(..))"/>
            <aop:before pointcut-ref="bookPointCut" method="before"/>
            <aop:after method="after" pointcut-ref="bookPointCut"/>
        </aop:aspect>
        <aop:aspect ref="bookCut">
            <!--Book类getTitle方法-->
            <aop:pointcut id="bookPointCut1" expression="execution(* com.yxc.framework.pojo.Book.getTitle())"/>
            <aop:before pointcut-ref="bookPointCut1" method="test"/>
        </aop:aspect>
    </aop:config>
</beans>